@model IEnumerable<ProductMasterDetails.Models.Product>

@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}

<p>
    <a asp-action="Create" class="btn btn-sm btn-success ml-1">Create New</a>
</p>

<partial name="_pager" model="@pager" />

<table class="table">
    <thead>
        <tr>
            @*<th>

                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        <img src="@item.ImageUrl" style="width:40px;height:40px;">
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    <div class="btn-group">

                        <a asp-action="Details" asp-route-id="@item.Code" class="btn btn-sm btn-primary ml-1">Details</a>

                    </div>



                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_pager" model="@pager" />
